 
#fond{
	
	background-image:	   url("https://i.pinimg.com/originals/b7/6d/6a/b76d6ac6f7fd2f7e5f862b9a0b7c806d.jpg");
					background-repeat: no-repeat;
					background-position: center;
					background-size: auto;
					 font-family: 'Roboto Mono', monospace; 
}

#fond2{
		background-image: url("../Src/ImageFond.png"),
		url("https://i.pinimg.com/originals/b7/6d/6a/b76d6ac6f7fd2f7e5f862b9a0b7c806d.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: auto;
		 font-family: 'Roboto Mono', monospace; 
}
nav ul{
	padding: 0px;
	margin : 0px;
	list-style-type:none;
	background-color:#333333;
}

nav li{
	display:inline-block;
	width:100px;
	height:40px;
	margin:0px;
	padding:0px;
	border-right:1px solid #CCCCCC;
	text-align:center;
	line-height:40px;
}

nav li a{
	text-decoration:none;
	color:#FFFFFF;
}
							  
#aa{
	text-align:center;
}


#Titre{
	position: absolute;
top: 40px; left: 15px;
color: white;
text-decoration: underline overline LightGrey;
}

#Texte{
	font-size: 16px;
	color: white;
	font-size: 18px;
  text-align:center;
  text-decoration: underline grey;
}

#Citation{
	color: white;
	text-align:center;
	text-decoration: underline DarkGrey;
}

#NP {
	Text-align:center;
	color: white;
	font-weight:Bold;
}

#NB {
	Text-align:center;
	color: white;
	font-weight:Bold;
}

#NL {
	Text-align:center;
	color: white;
	font-weight:Bold;
}


#NA {
	Text-align:center;
	color: white;
	padding:20px;
	margin:0px;
	border-right:2px solid #CCCCCC;
	font-size: 18px;
	
}

#a{
	color: white;
	text-align:center;
	font-weight:bold;
}


#b{
	color: white;
	text-align:none;
	font-weight:bold;
}

#bb {
	position: absolute;
	top: 205px; left:40px;
	font-weight:Bold;
	color: white;
	display:inline-block;
	width:100px;
	margin:0px;
	padding:0px;
	border-right:1px solid #CCCCCC;
	text-align:center;
	line-height:40px;
	padding: 0px;
	margin: 0px;
	list-style-type:none;
}

#TextCSS{
	color:white;
	position: absolute;
top: 190px; left: 160px;
	font-size: 18px;
}

#TextHtml{
	color:white;
	position: absolute;
top: 230px; left: 160px;
	font-size: 18px;
}


#Textphp{
	color:white;
	position: absolute;
top: 270px; left: 160px;
	font-size: 18px;
} 

img{
	width: 100px;
	height: 75px;
}
#p1{
	color: white;
	text-align:none;
	font-weight:bold;
	position: absolute;
top: 190px; left: 160px;
	font-size: 20px;
}

#p2{
	color: white;
	text-align:none;
	font-weight:bold;
	position: absolute;
top: 230px; left: 160px;
	font-size: 20px;
}

#p3{
	color: white;
	text-align:none;
	font-weight:bold;
	position: absolute;
top: 270px; left: 160px;
	font-size: 20px;
}

#O {
	Text-align:center;
	color: white;
	padding:20px;
	margin:0px;
	border-right:2px solid #CCCCCC;
	line-height:40px;
}

#s{
	background-color: Black;
	Color: white;
	opacity:90%;
	border-right:5px solid lightgrey;
	border-left:5px solid lightgrey;
	border-bottom:5px solid lightgrey;
	border-top:5px solid lightgrey;
		position: absolute;
		top: 200px; left:335px;
		font-size: 35px;
}
a:hover {
  background-color: silver;
}

#m{
	position:absolute;
	top:300px;left:340px;
}

#D{
		Color: White;
	border-right:3px solid #CCCCCC;
	border-left:3px solid #CCCCCC;
	border-bottom:3px solid #CCCCCC;
	border-top:3px solid #CCCCCC;
		position: absolute;
		top: 700px; left:680px;
		
}

#aaaa{
	Text-align:center;
}