body {
 font-family:georgia, serif;
 }
 
#fond{
	
	background-image:	
                  url("https://i.pinimg.com/originals/b7/6d/6a/b76d6ac6f7fd2f7e5f862b9a0b7c806d.jpg");
					background-repeat: no-repeat;
					background-position: center;
				  
}

#fond2{
		background-image: url("https://images.vexels.com/media/users/3/128118/isolated/preview/a2d02eb571483802db8847430207d4fe---cone-do-teclado-plano-by-vexels.png"),
		url("https://i.pinimg.com/originals/b7/6d/6a/b76d6ac6f7fd2f7e5f862b9a0b7c806d.jpg");
		background-repeat: no-repeat;
		background-position: center;
}
nav ul{
	padding: 0px;
	margin : 0px;
	list-style-type:none;
	background-color:#333333;
}

nav li{
	display:inline-block;
	width:100px;
	height:40px;
	margin:0px;
	padding:0px;
	border-right:1px solid #CCCCCC;
	text-align:center;
	line-height:40px;
}

nav li a{
	text-decoration:none;
	color:#FFFFFF;
}
							  
#aa{
	text-align:center;
}


#Titre{
	position: absolute;
top: 40px; left: 15px;
color: white;
}

#Texte{
	position: absolute;
	top: 150px; left: 15px;
	color: white;
}

#Citation{
	position: absolute;
	top: 200px; left: 15px;
	color: white;
}

#NP {
	Text-align:center;
	color: white;
	font-weight:Bold;
}

#NB {
	Text-align:center;
	color: white;
	font-weight:Bold;
}

#NA {
	Text-align:center;
	color: white;
	padding:20px;
	margin:0px;
	border-right:2px solid #CCCCCC;
	
	
}

#a{
	color: white;
	text-align:center;
	font-weight:bold;
}


#b{
	color: white;
	text-align:none;
	font-weight:bold;
}

#bb {
	position: absolute;
	top: 205px; left:40px;
	font-weight:Bold;
	color: white;
	display:inline-block;
	width:100px;
	margin:0px;
	padding:0px;
	border-right:1px solid #CCCCCC;
	text-align:center;
	line-height:40px;
	padding: 0px;
	margin: 0px;
	list-style-type:none;
}

#TextCSS{
	color:white;
	position: absolute;
top: 195px; left: 160px;
}

#TextHtml{
	color:white;
	position: absolute;
top: 235px; left: 160px;
}


#Textphp{
	color:white;
	position: absolute;
top: 275px; left: 160px;
} 

img{
	width: 100px;
	height: 75px;
}
#p1{
	color: white;
	text-align:none;
	font-weight:bold;
	position: absolute;
top: 200px; left: 160px;
}

#p2{
	color: white;
	text-align:none;
	font-weight:bold;
	position: absolute;
top: 240px; left: 160px;
}

#p3{
	color: white;
	text-align:none;
	font-weight:bold;
	position: absolute;
top: 280px; left: 160px;
}

#O {
	Text-align:center;
	color: white;
	padding:20px;
	margin:0px;
	border-right:2px solid #CCCCCC;
	line-height:40px;
}